body {
    background-color:hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}

.main-container {
    background-color: hsl(0, 0%, 100%);
}

.content-container (

)

.page-title {
    color: hsl(24, 5%, 18%);
}

h2 {
    color: hsl(332, 51%, 32%);
}

.prep-time-container {
    background-color: hsl(330, 100%, 98%);
}

.prep-time-title {
    color: hsl(332, 51%, 32%);
}

.dk-rasp {
    color: hsl(332, 51%, 32%);
}