@import url(https://fonts.google.com/specimen/Young+Serif);
@import url(https://fonts.google.com/specimen/Outfit);

body {
    background-color:hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.main-container {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-container {
    margin: 20px;
    padding-bottom: 20px;
}

img {
    width: 560px;
    border-radius: 10px;
    margin-top: 5px;
}

.page-title {
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p {
    font-weight: 400;
    font-size: 16px
}

.easy-dish {
    padding-top: 7px;
    padding-bottom: 7px;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    text-shadow: 1px 1px;
}

li {
    padding: 5px;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}


.prep-time-container {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 10px;
}

.prep-time-title {
    color: hsl(332, 51%, 32%);
    padding-left: 15px;
}

table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid hsl(24, 5%, 18%);
    padding: 10px 20px;
}

.dk-rasp {
    color: hsl(332, 51%, 32%);
}



